# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

*.pdb
*.ilk
*.bsc
*.exp
*.sdf
*.v12.suo

Debug_lifeEngine
Release_lifeEngine
tmp