###################
## ДИРЕКТОРИИ
###################
Build
tmp
.vs

#######################
## РАСШИРЕНИЯ ФАЙЛОВ
#######################

## РАЗНОЕ ##
*.VC.db
*.suo
*.ilk
*.exp
*.obj
*.idb
*.iobj
*.ipdb
*.pdb
*.tmp