###################
## ДИРЕКТОРИИ
###################
Build

#######################
## РАСШИРЕНИЯ ФАЙЛОВ
#######################

## БИНАРНИКИ ##
*.dll
*.lib
*.exe

## РАЗНОЕ ##
*.VC.db
*.suo
*.ilk
*.exp
*.obj
*.idb
*.iobj
*.ipdb
*.pdb
lifeEngine.log